{% block questions %}

    <div class="tab-pane fade in active" role="tabpanel" id="stepper-step-1">
      <h3 class="h3">{{question.id}}. {{question.question}}</h3>
      <p>Do you like to work with?</p>
      <br>
        <div class="radio-buttons">
          <ul class="radio-buttons">
              <form>
                <input type="radio" name="choice" value="yes">Yes
                <input type="radio" name="choice" value="no">No<br>
              </form>

          </ul>
        </div>
        <br>
      <p>What is your level?</p>
      <br>
    <select name="my_html_select_box">
        {% for grade in grades %}
            <option>{{ grade.grade }}</option>
        {% endfor %}
    </select>

    </div>


{% endblock %}